
<form class="form-horizontal" action="{{ path('fos_user_profile_edit', {'username': app.user.username}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form, {'show_child_label': false}) }}
    <div class="form-actions">
        <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
