{% extends 'MopaBooksyncBundle::common_layout.html.twig' %}

{% block content_tabs_menu %}mopa_booksync.game_tabs_menu{% endblock content_tabs_menu %}

{% block pane_id %}game_pane{% endblock %}

{% block content_tabs_body %}
    <div class="panel-heading">
        {% if pagination|length > 0 %}
            <span class="pull-right">
        {% include 'MopaBooksyncBundle:Feed:heading.html.twig' with {alias: 'f'} %}
        </span>
        {% endif %}
        <p>Fellow booksyncer spread the word!</p>
    </div>
    <ul class="list-group" id="user_feed">
        {% for scorable in pagination %}
            {% include 'MopaBooksyncGameBundle:Game:scorable.html.twig' %}
        {% else %}
            <li class="list-group-item">Nothing happened here yet!</li>
        {% endfor %}
    </ul>
    <div class="panel-footer">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock content_tabs_body %}

{% block filter_pane_body %}
    {{ render_esi(controller('MopaBooksyncGameBundle:Game:status')) }}
{% endblock filter_pane_body %}
