{% from 'MopaBootstrapBundle::macros.html.twig' import badge %}

<div class="panel panel-default">
    <div class="panel-heading">
        <p><a href="">Score</a>: {{ badge(app.user.score|default(0), false, 'default pull-right') }}</p>
        <p><a href="">Invite's</a>: {{ badge(invitations, false, 'default pull-right') }}</p>
        <p><a href="">Rec'ss</a>: {{ badge(app.user.feedItems.count, false, 'default pull-right') }}</p>
    </div>
</div>