{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="span6">
    <h1>Invitation required</h1>
    <p>{% trans %}register.invitation.text{% endtrans %}</p>
    {% include "MopaBooksyncBootstrapBundle:Registration:invitation_content.html.twig" with {'form_class': 'none'}%}
    </div>
    <div class="span6">
    <!-- Put this into an own url ... and make a link here to that url-->
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
